.login{
    margin-right:15px;
    margin-left:15px;

}
.row{
    margin-top:50px;
    margin-left:10px;
    margin-right:10px;

    margin-bottom:10px;
   
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom:30px;
  
}

.title{
    text-align: center;
    font-size:70px;
    font-weight: 600;
    color:#fdfdfe;
    text-shadow: 0px 0px 5px #0a0a09 ,0px 0px 10px #b393d3,0px 0px 10px #b393d3,0px 0px 20px #b393d3;
}
body{

   background-image:url('./background.jpg');
   background-size: cover;
 
}

.card{
    background-image: url('./row.jpg');
    background-size: cover;
    
}
img{
    margin-top: 15px;
    width:300px;
    position: relative;
    margin-left:130px;
    border:solid 1px black;
}
.btn{
    margin-left:230px;
}
.btn-outline-success{
    margin-left: 0;

}
.button{
    background-color:rgb(65, 65, 241);
    color: white;
    width:100px;
    border-radius: 10px;
    margin-right:10px;
    text-align: center;
    display:flex;
    justify-content: center;
    
}
