.login{
    margin-right:15px;
    margin-left:15px;

}
.row{
    margin-top:50px;
    margin-left:10px;
    margin-right:10px;

    margin-bottom:10px;
    
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom:30px;
  
}

.title{
    text-align: center;
    font-size:90px;
    font-weight: bolder;
    color:#fdfdfe;
    -webkit-text-stroke:1px black;
    text-shadow: 5px 5px 8px black;
}
body{

  background-color:rgb(109, 165, 167)
}

.card{
    background-image: url('./row.png');
    background-size: cover;
    border:black solid 1px;
    border-radius: 20px;
    width:600px;
    height:450px;
}
img{
    margin-top: 15px;
    width:300px;
    position: relative;
    margin-left:130px;
    border:solid 1px black;
    border-radius: 20px;
}
.btn{
   
   background-color:cadetblue;  
   border-color:cadetblue;
   color:white;
   border-radius: 10px;
   text-align: center;
   font-size: 15pt;
   transition-duration: 0.4s;
   cursor: pointer;
}
.btn:hover{
    background-color:white;
    color:black;
}
#login{
    margin-right:11px;
}
#SignUp{
    margin-right:15px;
}
.btn1{
    margin-left:230px;
}
.btn-outline-success{
    margin-left: 0;
    
}
.button{
    background-color:rgb(65, 65, 241);
    color: white;
    width:100px;
    border-radius: 10px;
    margin-right:10px;
    text-align: center;
    display:flex;
    justify-content: center;
    
}
.card-title{
    font-size: 17pt;
    font-weight: bolder;
}
.navbar-brand{
    font-weight: bolder;
}
