.login{
    margin-right:15px;
    margin-left:15px;

}
.row{
    margin-top:80px;
}

.navbar{
    padding-top: 15px;
    padding-bottom: 15px;
}

.card{
    width: 40rem;
    margin-left: 20rem;
    margin-top: 5rem;
    background-color: azure;
}

.Checker{
    --bs-btn-bg: white;
    --bs-btn-border-color: auto;
    --bs-btn-hover-bg: rgb(78, 43, 78);
    color:black;
}

.CheckerW{
    --bs-btn-bg: white;
    --bs-btn-border-color: auto;
    --bs-btn-hover-bg: rgb(78, 43, 78);
    color:black;
}
body{
    background-image: url('./test1.png');
   
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
  
    background-attachment: fixed;
  
     height: 300vh;

     image-rendering:pixelated;
}
.btn{
    margin-bottom: 20px;
    background-color:azure;
    color:black;

}
.btn1{
    background-color:white;
    border:black;
    color:black;
}
.btn:hover{
    background-color:cornflowerblue;
    color:black;
}
.navbar-brand{
    font-weight: 600;
    
}
.modal-title
{
    font-weight: bolder;
    font-size:25pt;
}
.card-body{
    font-size: 25pt;
    font-weight: bolder;
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.form-control{
    height:40px;
}